{% extends "common.html" %}
{% block content %}

<section class="login">
    <div class="loginImg">
        <img src="{{ url_for('static', filename='images/ai.webp') }}" alt=""/>
    </div>
    
    <div class="content">
    
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        
        <form action="/forgot" class="loginform" method="POST">
            {{ form.hidden_tag() }}
           
            
            <div class="email margin-top">
                {% if form.email.errors %}
                    {{ form.email(class="email-form", placeholder="Email Addresss") }}
                    <div class="invalid">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="email-form", placeholder="Email Addresss", autocomplete="off") }}
                {% endif %}
            </div>

            <div>
                {{ form.submit(class="btn margin-bottom") }}
            </div>
        </form>
    </div>
</section>

{% endblock content %}