{% extends "common.html" %}
{% block content %}

<section class="clone">
    <div class="clone-block">
      
      <div class="response">
        <div class='question'>
          {% if prompt %}
            {{ prompt }}
          {% endif %}
        </div>
        <div class='answer'>
          {% if response %}
            {% autoescape off %}
              {{ response }}
            {% endautoescape %}
          {% endif %}
        </div>
      </div>

      <form action="/clone" method="POST" class='clone-form'>
        <textarea class='que' wrap="off" name="prompt" placeholder='Enter Your Question'></textarea>
        <button type='submit' class='ans btn-ans'>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </button>
      </form>
      
      
    </div>
  </section>
{% endblock content %}
