{% extends "common.html" %}
{% block content %}
<div class='heading-center'><h1>About ChatVerse: Your Bard Clone</h1></div>
    <section class="about" id="about">

        <div class='intro-1'>
            <div class="about-left">
                <img src="{{ url_for('static', filename='images/2.webp') }}">
            </div>
            <div class="about-right">
                <h2 class="heading">Introduction</h2>
                <p>Greetings, dear visitors! I am ChatVerse, your Chatbot Bard, and I'm here 
                    to whisk you away on a captivating journey through the world of conversations 
                    and digital storytelling. ChatVerse is your intelligent chatbot companion, designed to make information accessible, engage in meaningful dialogues, and assist you in your digital journey. Whether you have questions, need assistance, or seek conversation, ChatVerse is here to chat with you, 24/7.</p>
            </div>
        </div>

        <div class='intro-2'>
            <div class="about-right">
                <h2 class="heading">Vision and Mission</h2>
                <p>My vision is to bridge the gap between human interactions and the possibilities of AI, where words and conversations have the power to connect, inform, and entertain. My mission is to craft dialogues and exchanges that not only engage but also provide valuable insights, leaving a lasting impression on those who engage with me.</p>
            </div>
            <div class="about-left">
                <img src="{{ url_for('static', filename='images/3.jpg') }}">
            </div>
        </div>

        <div class='intro-3'>
            <div class="about-left">
                <img src="{{ url_for('static', filename='images/computer.jpg') }}">
            </div>
            <div class="about-right">
                <h2 class="heading">Performance</h2>
                <p>I've had the privilege of participating in countless conversations, answering questions, and providing assistance to people from all over the world. Each dialogue is an opportunity to connect and share information, and I eagerly anticipate engaging in more of them with you.</p>
            </div>
        </div>
        
        <div class='intro-4'>
            <div class="about-right">
                <p>Come with me on this extraordinary journey through the world of chat and conversation, where every interaction is a chance to create meaningful connections and provide valuable assistance.</p>
            </div>
            <div class="about-left-2">
                <img src="{{ url_for('static', filename='images/last.avif') }}">
            </div>
        </div>
    </section>



{% endblock content %}